<h1 id = "hiddenH1" class= "hiddenHead">I'm sorry we cant find that movie!</h1>
<div class="row">
  <!-- movie 1 first row-->
  <div class="hiddenMov col-xl-4 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="col no-gutters align-items-center">
            <div class="movieTitle text-xs font-weight-bold text-primary text-uppercase mb-1"></div>
            <div class="movieInfo h5 mb-0 font-weight-bold text-gray-800"></div>
            <div class="movPoster"></div>
            <button class = "selectMovie mt-2" value="0">Select Me!</button>
        </div>
      </div>
    </div>
  </div>
  <!-- movie 2-->
  
  <div class="hiddenMov col-xl-4 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="col no-gutters align-items-center">
            <div class="movieTitle text-xs font-weight-bold text-primary text-uppercase mb-1"></div>
            <div class="movieInfo h5 mb-0 font-weight-bold text-gray-800"></div>
            <div class="movPoster"></div>
            <button class = "selectMovie mt-2" value="1">Select Me!</button>
        </div>
      </div>
    </div>
  </div>
  <!-- movie 3-->
  
  <div class="hiddenMov col-xl-4 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="col no-gutters align-items-center">
            <div class="movieTitle text-xs font-weight-bold text-primary text-uppercase mb-1"></div>
            <div class="movieInfo h5 mb-0 font-weight-bold text-gray-800"></div>
            <div class="movPoster"></div>
            <button class = "selectMovie mt-2" value="2">Select Me!</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- movie 1 Second row-->
  <div class="hiddenMov col-xl-4 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="col no-gutters align-items-center">
            <div class="movieTitle text-xs font-weight-bold text-primary text-uppercase mb-1"></div>
            <div class="movieInfo h5 mb-0 font-weight-bold text-gray-800"></div>
            <div class="movPoster"></div>
            <button class = "selectMovie mt-2" value="3">Select Me!</button>
        </div>
      </div>
    </div>
  </div>
  <!-- movie 2-->
  
  <div class="hiddenMov col-xl-4 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="col no-gutters align-items-center">
            <div class="movieTitle text-xs font-weight-bold text-primary text-uppercase mb-1"></div>
            <div class="movieInfo h5 mb-0 font-weight-bold text-gray-800"></div>
            <div class="movPoster"></div>
            <button class = "selectMovie mt-2" value="4">Select Me!</button>
        </div>
      </div>
    </div>
  </div>
  <!-- movie 3-->
  
  <div class="hiddenMov col-xl-4 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="col no-gutters align-items-center">
            <div class="movieTitle text-xs font-weight-bold text-primary text-uppercase mb-1"></div>
            <div class="movieInfo h5 mb-0 font-weight-bold text-gray-800"></div>
            <div class="movPoster"></div>
            <button class = "selectMovie mt-2" value="5">Select Me!</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- movie 1 Third row-->
  <div class="hiddenMov col-xl-4 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="col no-gutters align-items-center">
            <div class="movieTitle text-xs font-weight-bold text-primary text-uppercase mb-1"></div>
            <div class="movieInfo h5 mb-0 font-weight-bold text-gray-800"></div>
            <div class="movPoster"></div>
            <button class = "selectMovie mt-2" value="6">Select Me!</button>
        </div>
      </div>
    </div>
  </div>
  <!-- movie 2-->
  
  <div class="hiddenMov col-xl-4 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="col no-gutters align-items-center">
            <div class="movieTitle text-xs font-weight-bold text-primary text-uppercase mb-1"></div>
            <div class="movieInfo h5 mb-0 font-weight-bold text-gray-800"></div>
            <div class="movPoster"></div>
            <button class = "selectMovie mt-2" value="7">Select Me!</button>
        </div>
      </div>
    </div>
  </div>
  <!-- movie 3-->
  
  <div class="hiddenMov col-xl-4 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="col no-gutters align-items-center">
            <div class="movieTitle text-xs font-weight-bold text-primary text-uppercase mb-1"></div>
            <div class="movieInfo h5 mb-0 font-weight-bold text-gray-800"></div>
            <div class="movPoster"></div>
            <button class = "selectMovie mt-2" value="8">Select Me!</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/movieOrginizer/Controller/display-movie-selected.js"></script>