<link rel="stylesheet" href="View/css/MovieSelected.css">
<div class = "row movieRating">
    <div class = "col-lg-6">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 id="movieTitle" class="m-0 font-weight-bold text-primary"></h6>
            </div>
            <div class="card-body">
                <img id="moviePoster" src="#" alt="">
                <h2>Synopsis:</h2>
                <p id ="moviePlot"></p>
                <span id="movieInfo"></span>
            </div>
        </div>
    </div>
    <div class = "col-lg-6">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Rate the move</h6>
            </div>
            <div class="card-body">
                <form action="/movieOrginizer/Controller/php/sendtodb.php" method="POST">
                    <h3 class = "justify-content-center">Notes on the movie</h3>
                    <input name = "movieReview" class = "movieReview" type="text">
                    <span class="row justify-content-center">
                        <img id="star0" class = "starImg" src="View/img/stargray.png" alt="Rating for movie 1 of 5">
                        <img id="star1" class = "starImg" src="View/img/stargray.png" alt="Rating for movie 2 of 5">
                        <img id="star2" class = "starImg" src="View/img/stargray.png" alt="Rating for movie 3 of 5">
                        <img id="star3" class = "starImg" src="View/img/stargray.png" alt="Rating for movie 4 of 5">
                        <img id="star4" class = "starImg" src="View/img/stargray.png" alt="Rating for movie 5 of 5">
                    </span>
                    <button class="btn btn-primary rateSubmit" name="submit" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


