.header
{
    display: grid;
    grid-template-areas: "logo link1 link3 logoutSpacing logout";
    column-gap: .5vw;
    row-gap: .5vw;
}
.allignedLogo
{
    align-self: center;
}
.logo
{
grid-area: logo;
width: 10vw;
}
.centeredLinks
{
    align-self: center;
    justify-self: center;
}
.link
{
    grid-area: link1;
    text-decoration: none;
    padding: .5rem;
    border-radius: 2.5rem;
    background-color: aqua;
}
.logout
{
    grid-area: logout;
    justify-self: right;
}
.button
{
    background-color: aquamarine;
    padding: 1vh;
    font-size: 16px;
    border: none;

}