body
{
    background-image: url(/View/Img/bg.jpg);
    background-size: cover;
}
nav
{
    display: grid;
    grid-template-rows: minmax(min-content, 100px) min-content;
}
nav .content
{
    background-color: rgb(20, 26, 110);
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    align-content: space-evenly;
}
nav .content .links
{
    display: grid;
    gap: 15px;
    grid-auto-flow: column;
    place-items: center;
    grid-auto-columns: minmax(min-content, 80px);
}
nav .content .links a{
    color: white;
    font-size: 16pt;
    text-emphasis: none;
    text-decoration: none;
}
    nav .content .links a:hover
    {
        cursor: pointer;
        color: rgb(235, 94, 0);
        user-select: none;
    }
nav .content .menu
{
    display: none;
}
    nav .content .material-icons:hover
    {
        cursor: pointer;
        color: rgb(235, 94, 0);;
        user-select: none;
    }
nav .account
{
    display: none;
    background-color: rgb(20, 26, 110);
    text-align: center;
}
nav .account a
{
    color: white;
    font-size: 16pt;
    text-emphasis: none;
    text-decoration: none;
    padding: 10px 0px;
}
nav .account input
{
    color:white;
    font-size: 16pt;
    border: none;
    background-color: rgb(20, 26, 110);
}
    nav .account a:hover{
        background-color: rgb(25, 32, 131);
        cursor: pointer;
        user-select: none;
        color: rgb(235, 94, 0);
    }
    nav .account input:hover{
        cursor: pointer;
        color: rgb(235, 94, 0);
        background-color: rgb(25, 32, 131);
    }
nav .account input
{
    padding: 10px 0px;
}

nav .dropdown
{
    display: none;
    background-color: rgb(20, 26, 110);

}
nav .dropdown a{
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 10px 0px;
}
    nav .dropdown a:hover{
        background-color: rgb(25, 32, 131);
        color: rgb(235, 94, 0);;
    }
div .searchbar
{
    
}
@media only screen and (max-width: 700px)
{
    nav .content .menu{display: initial;}
    nav .content .links{display: none;}
    nav .content
    {
        background-color: rgb(20, 26, 110);
        display: grid;
        grid-auto-flow: column;
        justify-content: right;
        padding-right: 20px;
    }
    nav .dropdown a
    {
        color: white;
        font-size: 16pt;
        text-emphasis: none;
        text-decoration: none;
        padding: 10px 0px;
    }
    nav .dropdown input {
        color:white;
        font-size: 16pt;
        border: none;
        background-color: rgb(20, 26, 110);
        padding: 10px 0px;
    }
        nav .dropdown input:hover{
            background-color: rgb(25, 32, 131);
            color: rgb(235, 94, 0);
            cursor: pointer;
            user-select: none;
        }
    nav .content i div
    {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
    }
}

