body
{
    background-image: url(/View/Img/bg.jpg);
    background-size: cover;
}
nav
{
    display: grid;
    grid-template-rows: minmax(min-content, 100px) min-content;
}
nav .content
{
    background-color: grey;
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    align-content: space-evenly;
}
nav .content .links
{
    display: grid;
    gap: 15px;
    grid-auto-flow: column;
    place-items: center;
    grid-auto-columns: minmax(min-content, 80px);
}
nav .content .links a{
    color: white;
    font-size: 16pt;
    text-emphasis: none;
    text-decoration: none;
}
    nav .content .links a:hover
    {
        cursor: pointer;
        color: purple;
        user-select: none;
    }
nav .content .menu
{
    display: none;
}
    nav .content .material-icons:hover
    {
        cursor: pointer;
        color: purple;
        user-select: none;
    }
nav .account
{
    display: none;
    background-color: grey;
    text-align: center;
}
nav .account a
{
    color: white;
    font-size: 16pt;
    text-emphasis: none;
    text-decoration: none;
    padding: 10px 0px;
}
nav .account input
{
    color:white;
    font-size: 16pt;
    border: none;
    background-color: grey;
}
    nav .account a:hover{
        background-color: lightgray;
        cursor: pointer;
        user-select: none;
    }
    nav .account input:hover{
        cursor: pointer;
        background-color: lightgray;
    }
nav .account input
{
    padding: 10px 0px;
}

nav .dropdown
{
    display: none;
    background-color: grey;

}
nav .dropdown{
    display: none;
    background-color: grey;
}
nav .dropdown a{
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 10px 0px;
}
    nav .dropdown a:hover{
        background-color: darkgray;
    }
@media only screen and (max-width: 700px)
{
    nav .content .menu{display: initial;}
    nav .content .links{display: none;}
    nav .content
    {
        background-color: grey;
        display: grid;
        grid-auto-flow: column;
        justify-content: right;
        padding-right: 20px;
    }
    nav .dropdown a
    {
        color: white;
        font-size: 16pt;
        text-emphasis: none;
        text-decoration: none;
        padding: 10px 0px;
    }
    nav .dropdown input {
        color:white;
        font-size: 16pt;
        border: none;
        background-color: grey;
        padding: 10px 0px;
    }
    nav .dropdown input:hover{
        background-color: lightgray;
        cursor: pointer;
        user-select: none;
    }
    nav .content i div
    {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
    }
}

