.container
{
    display: grid;
    grid-auto-flow: row;
}
.buttons
{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2px;
    padding-bottom: 10px;
}
.reviewTable
{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    column-gap: 2px;
    row-gap: 5px;
}
.TableHeaderContainer
{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.reviewData
{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2px;
    row-gap: 5px;
}
.container h1{
    text-align: center;
}
h2{
    text-align: center;
}
.userData
{
    text-align: center;
    background-color: rgb(235, 94, 0);
    border: black;
    border: 2px;
    border-style: dotted;
}
.mediaType
{
    display: none;
}
#DateAndTime
{
    display: none;
}