.container
{
    display: grid;
    grid-auto-flow: row;
}
.buttons
{
    display: grid;
    grid-auto-flow: column;
}
.reviewTable
{
    display: grid;
    grid-auto-flow: column;
}
.container h1{
    text-align: center;
}