#searchDiv
{
   display: grid;
   grid-template-rows: 40vh 1fr 40vh;
   grid-template-areas: "." "Search" ".";
}
#searchGrid
{
    grid-area: Search;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "searchTitle searchTitle"
    "searchBar searchBtn";
    justify-content: center;
}
.searchTitle
{
    grid-area: searchTitle;
    text-align: center;
}
.searchBox
{
    grid-area: searchBar;
}
.searchBtn
{
    grid-area: searchBtn;
}
.hideSearch
{
    display: none;
}
