#searchGrid
{
    display: grid;
    grid-template-areas: 
    "searchTitle searchTitle"
    "searchBar searchBtn";
    justify-content: center;
    padding-top: 50%;
}
.searchTitle
{
    grid-area: searchTitle;
    text-align: center;
}
.searchBox
{
    grid-area: searchBar;
}
.searchBtn
{
    grid-area: searchBtn;
}
.hideSearch
{
    display: none;
}