<nav>
    <div class="content">
        <div class="links">
            <a href="Home">Home</a>
            <a href="../index">Portfolio</a>
            <a href="myReviews">Reviews</a>
            <a href="#" onclick="dropdownFunc()">Profile</a>
        </div>
        <i class="menu" onclick="menuFunc()"><div></div><div></div><div></div></i>
    </div>
    <div class="account">
        <a href="profile">Profile</a>
        <input class="button" type="button" onclick="location.href='Controller/logout.php';" value="logout" />
    </div>
    <div class="dropdown">
        <a class="dropHome" href="Home">Home</a>
        <a href="../index">Portfolio</a>
        <a href="myReviews">Reviews</a>
        <a href="profile">Profile</a>
        <input class="button" type="button" onclick="location.href='Controller/logout.php';" value="logout" />
    </div>
</nav>
<script src="View/Header/JS/dropdown.js"></script>