

<input class="button" type="button" onclick="location.href='Controller/logout.php';" value="logout" />
<nav>
    <div class="content">
        <div class="links">
            <a href="Home">Home</a>
            <a href="Portfolio">Portfolio</a>
            <a href="Reviews">Reviews</a>
        </div>
        <i class="material-icons menu" onclick="menuFunc()">menu</i>
    </div>
    <div class="dropdown">
        <a href="Home">Home</a>
        <a href="Portfolio">Portfolio</a>
        <a href="Reviews">Reviews</a>
    </div>
</nav>
<script>
    var dropdown = document.querySelector("nav .dropdown");
    var menu = document.querySelector("nav div .menu");

    function menuFunc()
    {
        if(dropdown.style.display === "none")
        {
            dropdown.style.display = "grid";
        }
        else
        {
            dropdown.style.display = "none";
        }
    }
</script>
