<link rel="stylesheet" href="View/Css/Login.css">
<form class="loginForm" id = "login" action="Controller/login.php" method="POST">
    <h2>login to start the orginization</h2>
    <input class="username" name="username" type="text">
    <input class="password" name="password" type="password">
    <button class="login button" type="submit">Submit</button>
</form>
<button class="signup button" name = "newuser" onclick="location.href='View/Header/html/createNewUserForm.html'" type="button">Create New User</button>