<link rel="stylesheet" href="View/css/MovieSelected.css">
<div class = "movieRating">
    <h6 id="movieTitle"></h6>
    <img id="moviePoster" src="#" alt="">
    <h2>Synopsis:</h2>
    <p id ="moviePlot"></p>
    <span id="movieInfo"></span>
</div>
    <h6>Rate the move</h6>
    <form action="Controller/sendToDatabase.php" method="POST">
        <h1>Notes on the movie</h1>
        <input name = "movieReview" class = "movieReview" type="text">
        <h1>Select a rating:</h1>
        <span class="row" id = "starGroup">
            <img id="1" class = "star" src="View/Img/stargray.png" alt="Rating for movie 1 of 5">
            <img id="2" class = "star" src="View/Img/stargray.png" alt="Rating for movie 2 of 5">
            <img id="3" class = "star" src="View/Img/stargray.png" alt="Rating for movie 3 of 5">
            <img id="4" class = "star" src="View/Img/stargray.png" alt="Rating for movie 4 of 5">
            <img id="5" class = "star" src="View/Img/stargray.png" alt="Rating for movie 5 of 5">
        </span>
        <button class="btn btn-primary rateSubmit" name="submit" type="submit">Submit</button>
    </form>
</div>
