<link rel="stylesheet" href="view/css/mediasearchresult.css">
<div class= "displayType">
  <h1 id = "hiddenH1" class= "hiddenHead">I'm sorry we cant find that movie!</h1>
  <div class="mov hiddenMov">
      <div class="gridMov">
        <div class="movieTitle"></div>
        <div class="movieInfo"></div>
        <div class="movPoster"></div>
        <button class = "button movieSelectionButton" value="0">Select Me!</button>
      </div>
  </div>
  <div class="mov hiddenMov">
    <div class="gridMov">
      <div class="movieTitle"></div>
      <div class="movieInfo"></div>
      <div class="movPoster"></div>
      <button class = "button movieSelectionButton" value="1">Select Me!</button>
    </div>
  </div>
  <div class="mov hiddenMov">
    <div class="gridMov">
      <div class="movieTitle"></div>
      <div class="movieInfo"></div>
      <div class="movPoster"></div>
      <button class = "button movieSelectionButton" value="2">Select Me!</button>
    </div>
  </div>
  <div class="mov hiddenMov">
    <div class="gridMov">
      <div class="movieTitle"></div>
      <div class="movieInfo"></div>
      <div class="movPoster"></div>
      <button class = "button movieSelectionButton" value="3">Select Me!</button>
    </div>
  </div>
  <div class="mov hiddenMov">
    <div class="gridMov">
      <div class="movieTitle"></div>
      <div class="movieInfo"></div>
      <div class="movPoster"></div>
      <button class = "button movieSelectionButton" value="4">Select Me!</button>
    </div>
  </div>
  <div class="mov hiddenMov">
    <div class="gridMov">
      <div class="movieTitle"></div>
      <div class="movieInfo"></div>
      <div class="movPoster"></div>
      <button class = "button movieSelectionButton" value="5">Select Me!</button>
    </div>
  </div>
  <div class="mov hiddenMov">
    <div class="gridMov">
      <div class="movieTitle"></div>
      <div class="movieInfo"></div>
      <div class="movPoster"></div>
      <button class = "button movieSelectionButton" value="6">Select Me!</button>
    </div>
  </div>
  <div class="mov hiddenMov">
    <div class="gridMov">
      <div class="movieTitle"></div>
      <div class="movieInfo"></div>
      <div class="movPoster"></div>
      <button class = "button movieSelectionButton" value="7">Select Me!</button>
    </div>
  </div>
  <div class="mov hiddenMov">
    <div class="gridMov">
      <div class="movieTitle"></div>
      <div class="movieInfo"></div>
      <div class="movPoster"></div>
      <button class = "button movieSelectionButton" value="8">Select Me!</button>
    </div>
  </div>
</div>