<link rel="stylesheet" href="../../css/signup.css">
<form action="../../../controller/createnewuser.php" id="signup" name="Signup" method="POST">
    First Name:<input name="firstname" type="text"></input></br>
    Last Name:<input name="lastname" type="text"></input></br>
    Email:<input name="email" type="text"></input></br>
    Password:<input name="password" type="password"></input></br>
    Repeat Password:<input name="password2" type="password"></input>
    <button type="submit">Create New User</button>
</form>