<link rel="stylesheet" href="view/css/login.css">
<div class="loginWrapper">
    <form class="loginForm" id = "login" action="controller/login.php" method="POST">
        <h2>login to start the organization</h2>
        <input class="username" name="username" type="text">
        <input class="password" name="password" type="password">
        <button class="login button" type="submit">Submit</button>
    </form>
    <button class="signup button" name = "newuser" onclick="location.href='view/header/html/createnewuserform.html'" type="button">Create New User</button>
</div>
 