nav{
    display: grid;
    background-color: darkblue;
}

@media only screen and (min-width: 700px)
{
    nav .dropdown{display: none;}
    nav .account{display: none;}
    nav .content .menu{display: none;}
    nav .content{
        display: grid;
        grid-template-areas: "links searchBar searchBtn ";
        grid-template-columns: 7fr 3fr 1fr;
        align-items: center;
        justify-items: center;
    }
    nav .content .links
    {
        grid-area: links;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-self: left;
    }
        nav .content .links a{
            color: white;
            text-decoration: none;
            padding: 20px;
        }
        nav .content #searchBarDiv
        {
            grid-area: searchBar;
            justify-content: center;
            align-self: center;
            width: 100%;
        }
            nav .content #searchBarDiv input
            {
                width: 100%;
                border: none;
                font-size: 16px;
                text-align: center;
                text-justify: center;
            }
        nav .content #searchBtnDiv
        {
            grid-area: searchBtn;
        }
}
@media only screen and (max-width: 700px)
{
    
    nav .content{
        display:grid;
        grid-template-columns: 3fr 1fr 1fr;
        grid-template-areas: "searchBar searchBtn sandwich";
    }
        nav .content .menu{display: initial;}
        nav .content .links{display: none;}
        nav .dropdown{display: none;}
        nav .account{display: none;}
        nav .content #searchBarDiv
        {
            grid-area: searchBar;
            justify-self: center;
            align-self: center;
            height:100%;
            width: 100%;
        }
            nav .content #searchBarDiv input
            {
                width: 100%;
                height: 70%;
                margin-top: 2.5%;
                margin-left: 10px;
                margin-right: 10px;
                border: none;
                font-size: 16px;
                text-align: center;
                text-justify: center;
            }
        nav .content #searchBtnDiv
        {
            grid-area: searchBtn;
            justify-self: center;
            align-self: center;
        }
            nav .content #searchBtnDiv button
            {
                font-size: 100%;
                font-family: inherit;
                border: none;
                padding: 1vh 1vw;
                border-radius: 2.5rem;
                color: white;
                background-color: blue;
            }
        nav .content .menu{
            grid-area: sandwich;
            justify-self: center;
            align-self: center;
            padding-top: .75vh;
            padding-bottom: .75vh;
        }
            nav .content i div{
                width: 35px;
                height: 5px;
                background-color: white;
                margin: 6px 0;
            }
    nav .dropdown{
        row-gap: 5px;
    }
        nav .dropdown a {
            font-size: 24px;
            color: white;
            text-decoration: none;
            text-align: center;
            width: 100%;
            height: 100%;
            margin-top: 2px;
            margin-bottom: 2px;
        }
            nav .dropdown a:hover{
                background-color: rgb(0, 0, 172);
            }
        nav .dropdown input 
        {
            background-color: darkblue;
            border: none;
            font-size: 24px;
            color: white;
            text-decoration: none;
            text-align: center;
            width: 100%;
            height: 100%;
            margin-top: 2px;
            margin-bottom: 2px;
        }
            nav .dropdown input:hover{
                background-color: rgb(0, 0, 172);
            }
}