.movieRating
{
    flex-grow: 0;
}
#moviePlot
{
    background-color:#F8F9FC;
    border-radius: 2.5rem;
    color: black;
    padding: 1vw;
    margin-top: .5vh;
}
#movieInfo
{
    background-color: #F8F9FC;
    border-radius: 2.5rem;
    color: black;
    padding: 1vw;
    margin-top: .5vh;
    padding-top: .5vh;
}
.starImg
{
    display: flex;
    width: 5vw;
}
.movieReview
{
    display: flex;
    margin: 1rem;
    margin-left: 25%;
    width: 50%;
}
.rateSubmit
{
    margin-top: 1rem;
}
