th
{
    font-size: 1.75rem;
    font-weight: bold;
    text-decoration: underline;
}
.Collumn
{
    
}
.rowResult
{
    font-weight: bold;
    background-color: aquamarine;
    border-radius: 5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}